In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../../../data/processed/num_data.csv')
df.columns

Index(['Acc', 'Agi', 'Bal', 'Jum', 'Nat.1', 'Pac', 'Sta', 'Str', 'Agg', 'Ant',
       'Bra', 'Cmp', 'Cnt', 'Dec', 'Det', 'Fla', 'Ldr', 'OtB', 'Pos', 'Tea',
       'Vis', 'Wor', 'Cor', 'Cro', 'Dri', 'Fin', 'Fir', 'Fre', 'Hea', 'Lon',
       'L Th', 'Mar', 'Pas', 'Pen', 'Tck', 'Tec'],
      dtype='object')

In [6]:
def attribute_scorer(df, core_attributes, opt_attributes):
    core_w=1.0
    opt_w=0.5
    core = [c for c in core_attributes if c in df.columns]
    opt  = [c for c in opt_attributes if c in df.columns]
    num = (df[core].mean(axis=1) * core_w * len(core) +
           df[opt].mean(axis=1)  * opt_w  * len(opt))
    den = core_w * len(core) + opt_w * len(opt)
    return num / den

In [7]:
mezzala_a_core = ['Dri', 'Pas', 'Tec', 'Dec', 'OtB', 'Vis', 'Wor', 'Acc']
mezzala_a_opt = ['Fin', 'Fir', 'Ant', 'Com', 'Bal', 'Fla', 'Sta']
df['M_A_Score'] = attribute_scorer(df, mezzala_a_core, mezzala_a_opt)

In [8]:
mezzala_s_core = ['Pas', 'Tec', 'Dec', 'OtB', 'Wor', 'Acc']
mezzala_s_opt  = ['Lon', 'Tck', 'Ant', 'Cmp', 'Vis', 'Bal', 'Sta', 'Dri', 'Fir']
df['M_S_Score'] = attribute_scorer(df, mezzala_s_core, mezzala_s_opt)

In [9]:
cm_a_core = ['Fir', 'Pas', 'Dec', 'OtB']
cm_a_opt  = ['Cmp', 'Tea', 'Vis', 'Wor', 'Acc', 'Sta', 'Lon', 'Tck', 'Tec', 'Ant']
df['CM_A_Score'] = attribute_scorer(df, cm_a_core, cm_a_opt)

In [10]:
cm_s_core = ['Fir', 'Pas', 'Tck', 'Dec', 'Tea']
cm_s_opt  = ['Cnt', 'OtB', 'Vis', 'Wor', 'Sta', 'Tec', 'Ant', 'Cmp']
df['CM_S_Score'] = attribute_scorer(df, cm_s_core, cm_s_opt)

In [11]:
cm_d_core = ['Tck', 'Cnt', 'Dec', 'Pos', 'Tea',]
cm_d_opt  = ['Tec', 'Agg', 'Ant', 'Cmp', 'Wor', 'Sta', 'Fir', 'Mar', 'Pas']
df['CM_D_Score'] = attribute_scorer(df, cm_d_core, cm_d_opt)

In [12]:
cm_au_core = ['Fir', 'Pas', 'Tck', 'Dec']
cm_au_opt  = ['OtB', 'Vis', 'Wor', 'Sta', 'Tec', 'Ant', 'Cmp', 'Cnt']
df['CM_Au_Score'] = attribute_scorer(df, cm_au_core, cm_au_opt)

In [13]:
ap_a_core = ['Fir', 'Pas', 'Tec', 'Cmp', 'Dec', 'OtB', 'Tea', 'Vis']
ap_a_opt  = ['Dri', 'Ant', 'Fla', 'Acc', 'Agi']
df['AP_A_Score'] = attribute_scorer(df, ap_a_core, ap_a_opt)

In [14]:
ap_s_core = ['Fir', 'Pas', 'Tec', 'Cmp', 'Dec', 'OtB', 'Tea', 'Vis']
ap_s_opt  = ['Dri', 'Ant', 'Fla', 'Agi']
df['AP_S_Score'] = attribute_scorer(df, ap_s_core, ap_s_opt)

In [15]:
dlp_s_core = ['Fir', 'Pas', 'Tec', 'Cmp', 'Dec', 'Tea', 'Vis']
dlp_s_opt  = ['Ant', 'OtB', 'Pos', 'Bal']
df['DLP_S_Score'] = attribute_scorer(df, dlp_s_core, dlp_s_opt)

In [17]:
dlp_d_core = ['Fir', 'Pas', 'Tec', 'Cmp', 'Dec', 'Tea', 'Vis']
dlp_d_opt  = ['Bal', 'Ant', 'Tck', 'Pos']
df['DLP_D_Score'] = attribute_scorer(df, dlp_d_core, dlp_d_opt)

In [18]:
rp_s_core = ['Fir', 'Pas', 'Tec', 'Ant', 'Cmp', 'Dec', 'OtB', 'Tea', 'Vis', 'Wor', 'Acc', 'Sta']
rp_s_opt  = ['Dri', 'Lon', 'Cnt', 'Pos', 'Agi', 'Bal', 'Pac']
df['RP_S_Score'] = attribute_scorer(df, rp_s_core, rp_s_opt)

In [19]:
c_s_core = ['Fir', 'Pas', 'Tck', 'Dec', 'Pos', 'Tea', 'Sta']
c_s_opt  = ['Ant', 'Cmp', 'Cnt', 'OtB', 'Vis', 'Tec']
df['C_S_Score'] = attribute_scorer(df, c_s_core, c_s_opt)

In [20]:
b2b_s_core = ['Pas', 'Tck', 'OtB', 'Tea', 'Wor', 'Sta']
b2b_s_opt  = ['Dri', 'Fin', 'Fir', 'Lon', 'Tec', 'Agg', 'Ant', 'Cmp',
              'Dec', 'Pos', 'Acc', 'Bal', 'Pac', 'Str']
df['B2B_S_Score'] = attribute_scorer(df, b2b_s_core, b2b_s_opt)

In [21]:
bwm_s_core = ['Tck', 'Agg', 'Ant', 'Tea', 'Wor', 'Sta']
bwm_s_opt  = ['Pas', 'Bra', 'Cnt', 'Agi', 'Pac', 'Str', 'Mar']
df['BWM_S_Score'] = attribute_scorer(df, bwm_s_core, bwm_s_opt)

In [22]:
bwm_d_core = ['Tck', 'Agg', 'Ant', 'Tea', 'Wor', 'Sta']
bwm_d_opt  = ['Bra', 'Cnt', 'Agi', 'Pac', 'Str', 'Mar', 'Pos']
df['BWM_D_Score'] = attribute_scorer(df, bwm_d_core, bwm_d_opt)

In [23]:
role_score_cols = [
    'M_A_Score','M_S_Score',
    'CM_A_Score','CM_S_Score','CM_D_Score','CM_Au_Score',
    'AP_A_Score','AP_S_Score',
    'DLP_S_Score','DLP_D_Score',
    'RP_S_Score','C_S_Score',
    'B2B_S_Score',
    'BWM_S_Score','BWM_D_Score'
]

df[role_score_cols].head()

,M_A_Score,M_S_Score,CM_A_Score,CM_S_Score,CM_D_Score,CM_Au_Score,AP_A_Score,AP_S_Score,DLP_S_Score,DLP_D_Score,RP_S_Score,C_S_Score,B2B_S_Score,BWM_S_Score,BWM_D_Score
0,16.090909,15.809524,16.166667,16.055556,14.210526,15.8125,16.428571,16.65,16.722222,16.277778,15.838710,15.25,15.153846,14.000000,13.473684
1,16.363636,16.095238,16.055556,16.055556,15.263158,16.0625,16.333333,16.40,15.944444,15.833333,15.838710,15.55,15.769231,15.684211,15.421053
2,15.000000,15.333333,15.722222,16.000000,15.157895,15.7500,15.333333,15.50,15.888889,15.944444,15.451613,15.55,15.000000,15.368421,15.052632
3,15.181818,14.761905,14.444444,13.611111,12.210526,13.6875,15.333333,15.25,14.666667,14.333333,14.709677,13.15,13.730769,12.473684,12.052632
4,15.272727,15.380952,15.388889,15.277778,14.684211,15.0625,15.000000,15.00,15.055556,15.055556,15.064516,15.00,15.423077,15.684211,15.526316