In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../../dataset/raw/FM24.csv')
print("Original columns:\n", df.columns.tolist())

Original columns:
 ['Name', 'Club', 'Nat', 'Height', 'Weight', 'Age', 'CA', 'PA', 'Acc', 'Agi', 'Bal', 'Jum', 'Nat.1', 'Pac', 'Sta', 'Str', 'Agg', 'Ant', 'Bra', 'Cmp', 'Cnt', 'Dec', 'Det', 'Fla', 'Ldr', 'OtB', 'Pos', 'Tea', 'Vis', 'Wor', 'Cor', 'Cro', 'Dri', 'Fin', 'Fir', 'Fre', 'Hea', 'Lon', 'L Th', 'Mar', 'Pas', 'Pen', 'Tck', 'Tec', 'Acc.1', 'Ant.1', 'Hea.1', 'Jum.1', 'Mar.1', 'Pac.1', 'Pos.1', 'Sta.1', 'Str.1', 'Tck.1', 'Cro.1', 'Dri.1', 'Fre.1', 'Fin.1', 'Fir.1', 'Fla.1', 'Lon.1', 'OtB.1', 'Pas.1', 'Vis.1']

In [6]:
raw_features = ['Name', 'Club', 'Nat', 'Height', 'Weight', 'Age', 'CA', 'PA', 
'Acc', 'Agi', 'Bal', 'Jum', 'Nat.1', 'Pac', 'Sta', 'Str', 
'Agg', 'Ant', 'Bra', 'Cmp', 'Cnt', 'Dec', 'Det', 'Fla', 
'Ldr', 'OtB', 'Pos', 'Tea', 'Vis', 'Wor', 'Cor', 'Cro', 
'Dri', 'Fin', 'Fir', 'Fre', 'Hea', 'Lon', 
'L Th', 'Mar', 'Pas', 'Pen', 'Tck', 'Tec']
raw_df = df[raw_features].copy()

In [9]:
cols = [
    'Acc', 'Agi', 'Bal', 'Jum', 'Nat.1', 'Pac', 'Sta', 'Str',
    'Agg', 'Ant', 'Bra', 'Cmp', 'Cnt', 'Dec', 'Det', 'Fla',
    'Ldr', 'OtB', 'Pos', 'Tea', 'Vis', 'Wor', 'Cor', 'Cro',
    'Dri', 'Fin', 'Fir', 'Fre', 'Hea', 'Lon',
    'L Th', 'Mar', 'Pas', 'Pen', 'Tck', 'Tec'
]

num_df = raw_df[cols].copy()

In [10]:
X_norm = (num_df - num_df.mean(axis=1).values.reshape(-1,1)) / num_df.std(axis=1).values.reshape(-1,1)

In [12]:
X_norm.to_csv('../../dataset/processed/normalized_features.csv', index=False)